{
	items = (
		{
			assets = (
				{
					kind = "software-package";
					url = "https://raw.githubusercontent.com/arist1990/PublicFiles/master/kdwz_3.5.3.ipa";
				},
				{
					kind = "display-image";
					"needs-shine" = NO;
					url = "https://raw.githubusercontent.com/arist1990/PublicFiles/master/kdwz_57.png";
				},
				{
					kind = "full-size-image";
					"needs-shine" = YES;
					url = "https://raw.githubusercontent.com/arist1990/PublicFiles/master/kdwz_512.png";
				},
			);
			metadata = {
				"bundle-identifier" = "com.kuaidiwangzi";
				"bundle-version" = "3.5.3";
				kind = software;
				subtitle = Apple;
				title = "\U5feb\U9012\U738b\U5b50";
			};
		},
	);
}